body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.GoDirectory {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

h1 {
  margin-left: 1em;
  font-size: 3em;
  color: white;
}

h2 {
  margin-left: 1em;
  margin-top: 1em;
  font-size: 1.5em;
}

h2,
h3 {
  margin: 0;
}

button {
  color: #009;
  font: inherit;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.App {
  width: 95%;
  max-width: 70%;
  margin: 0 auto;
}

.App header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3b5998 ;
  width: 100%;
}

.App h1:after {
  margin-left: 10em;
  font-Size: 50em;
}

span.emoji {
  font-size: 30px;
  vertical-align: middle;
  line-height: 2;
}

.App nav button:before {
  margin-right: 0.5em;
}

.App main {
  display: flex;
}

.Profile {
  display: flex;
  flex-grow: 1;
  width: 66%;
}

.Profile .profile-picture {
  width: 200px;
  height: 200px;
  margin-right: 1rem;
  margin-top: 1em;
  display: flex;
  background: white;
}

.Profile .profile-body {
  margin-top: 1em;
}

.Profile .profile-picture img {
  width: inherit;
  border-radius: 20px;
}

.Profile.loading {
  color: #999;
}

.Profile.loading p {
  background: #999;
}

.Directory {
  flex-grow: 1;
}

footer {
  margin-top: 14em;
  text-align: center;
}

footer p {
  margin: 0;
  color: #3b5998;
}

footer p a {
  font-size: 24px;
}

footer p a {
  color: #3b5998;
}

ul {
  margin-left: 2em;
  font-size: 1.5em;
}

.profile-body h2 h3 {
  font-size: 2em;
}

.profile-body p {
  font-size: 1.5em;
}

@media (max-width: 1281px) {
  footer {
    margin-top: 14em;
  }
}

@media (max-width: 1025px) {
  footer {
    margin-top: 1em;
  }
}

@media (max-width: 913px) {
  footer {
    margin-top: 52em;
  }
  .profile-body h2 h3 {
    font-size: 1em;
  }
  .profile-body p {
    font-size: 1em;
  }
}

@media (max-width: 821px) {
  footer {
    margin-top: 38em;
  }
}

@media (max-width: 769px) {
  footer {
    margin-top: 28em;
  }
}

@media (max-width: 541px) {
  footer {
    margin-top: 26em;
  }
	footer p a {
    font-size: 14px;
  }
  title {
    font-size: 10px;
  }
  h1 {
    margin-left: 1em;
    font-size: 1.5em;
    color: white;
  }
  h2 {
    font-size: 1.1em;
  }
  ul {
    margin-left: 0.5em;
    font-size: 1em;
  }
  .profile-body h2 h3 {
    font-size: 1em;
  }
  
  .profile-body p {
    font-size: 0.5em;
  }
  .Profile .profile-picture {
    width: 80px;
    height: 80px;
    margin-right: 1rem;
    margin-top: 1em;
    display: flex;
    background: white;
  }
  .profile-body,h2,h3 {
    font-size: 0.9em;
  }
  .GoDirectory {
    font-size: 0.6em;
  }
}

@media (max-width: 415px) {
  footer {
    margin-top: 36em;
  }
	footer p a {
    font-size: 15px;
  }
  title {
    font-size: 10px;
  }
  h1 {
    margin-left: 1em;
    font-size: 1.5em;
    color: white;
  }
  h2 {
    font-size: 1.1em;
  }
  ul {
    margin-left: 0.5em;
    font-size: 1em;
  }
  .Profile .profile-picture {
    width: 100px;
    height: 100px;
    margin-right: 1rem;
    margin-top: 1em;
    display: flex;
    background: white;
  }
  .profile-body,h2,h3 {
    font-size: 0.8em;
  }
  .GoDirectory {
    font-size: 0.6em;
  }
}

@media (max-width: 413px) {
  footer {
    margin-top: 38em;
  }
}

@media (max-width: 394px) {
  footer {
    margin-top: 35em;
  }
}

@media (max-width: 391px) {
  footer {
    margin-top: 33em;
  }
  .Profile .profile-picture {
    width: 80px;
    height: 80px;
    margin-right: 1rem;
    margin-top: 1em;
    display: flex;
    background: white;
  }
  .profile-body,h2,h3 {
    font-size: 0.8em;
  }
  .GoDirectory {
    font-size: 0.6em;
  }
}

@media (max-width: 376px) {
  footer {
    margin-top: 23em;
  }
	footer p a {
    font-size: 14px;
  }
  title {
    font-size: 10px;
  }
  h1 {
    margin-left: 1em;
    font-size: 1em;
    color: white;
  }
  h2 {
    font-size: 1.1em;
  }
  ul {
    margin-left: 0.5em;
    font-size: 1em;
  }
  .Profile .profile-picture {
    width: 80px;
    height: 80px;
    margin-right: 1rem;
    margin-top: 1em;
    display: flex;
    background: white;
  }
  .profile-body,h2,h3 {
    font-size: 0.8em;
  }
  .GoDirectory {
    font-size: 0.6em;
  }
}

@media (max-width: 361px) {
  footer {
    margin-top: 28em;
  }
  .Profile .profile-picture {
    width: 80px;
    height: 80px;
    margin-right: 1rem;
    margin-top: 1em;
    display: flex;
    background: white;
  }
  .profile-body,h2,h3 {
    font-size: 0.8em;
  }
  .GoDirectory {
    font-size: 0.6em;
  }
}

@media (max-width: 281px) {
  footer {
    margin-top: 25em;
  }
	footer p a {
    font-size: 14px;
  }
  title {
    font-size: 10px;
  }
  h1 {
    margin-left: 1em;
    font-size: 1.5em;
    color: white;
  }
  h2 {
    font-size: 1.1em;
  }
  ul {
    margin-left: 0.5em;
    font-size: 1em;
  }
  .Profile .profile-picture {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    margin-top: 1em;
    display: flex;
    background: white;
  }
  .profile-body,h2,h3 {
    font-size: 0.6em;
  }
  .GoDirectory {
    font-size: 0.6em;
  }
}
